<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
                  theme: {
                          extend: {
                              colors:{


                              'blauclar':'#d1e8f3',
                              'blaumig':'#807bd9',
                              'blaufort':'#4238ff',
                              'blaufosc':'#1d4967',
                              'roig':'#d83431'
                              },
                          },
                      },
                    }
    </script>
    <title>Índice Candidato</title>
    
</head>
<body id="body">

    
  <div class="flex flex-col bg-blaufosc h-screen">

    <nav class="pt-5 flex justify-between container mx-auto text-blauclarclar w-screen">
      <a href="/" class="text-4xl font-bold">
        <img class="m-8" alt = "logo" title="AmericanFlag" src="imatges/americanFlag.png" width="150px"/>
      </a>
      
      <div class="m-20">    
        <label for="nombre" class="block mb-2 text-5xl font-medium text-blauclar">DASHBOARD CANDIDATO</label>
      </div>
    
    </nav> 



  </div>

</body>
</html>